// Global Variables
$success-light-color: #009DA6;

// Global opacity
$success-light-opacity: #00878e;

// Variables
$danger-color: #ff0000;
$white-color: #ffffff;
$black-color: #000000;
$orange-color: #ffa500;
$blue-color: #0000ff;
$yellow-color: #ffff00;

// background colors
$bg-color : #666668;
// Text colors
$text-white: $white-color;
$text-primary: #5488c7;

// Border colors
$border-gray-color: #ababab;
$border-bottom-color: #f2f2f2;

// 

// Border radius
$border-radius-10: 10px;
$border-radius-20: 20px;
$border-radius-30: 30px;
$border-radius-40: 40px;
$border-radius-50: 50px;

// Font-weight
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-800: 800;
$font-weight-900: 900;