/* -----BASE----- */
@import './partials/base/variables';
@import './partials/base/antd';
@import './partials/base/common';


/* -----COMPONENTS----- */
@import './partials/components/layout';
@import './partials/components/header';
@import './partials/components/sidenav';
@import './partials/components/banner';
@import './partials/components/course';
@import './partials/components/video';
@import './partials/components/lesson';
@import './partials/components/drawer-comment';
@import './partials/components/user-menu';
@import './partials/components/footer';
@import './partials/components/detail-course';
@import './partials/components/community';
@import './partials/components/blog';
@import './partials/components/card-blog';
@import './partials/components/input-comment';




/* -----PAGES----- */
@import './partials/pages/home';
@import './partials/pages/course';
@import './partials/pages/detailCourse';
@import './partials/pages/blog';
@import './partials/pages/profile';
@import './partials/pages/login';
@import './partials/pages/register';