.wrapper__courses {

  .courses {
    h3 {
      font-size: 23px;
      padding-bottom: 8px;
    }
  }

  .course-body {
    margin-bottom: 25px;
  }

  .less-item {
    position: relative;
  }

  .check-has-free {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 60px;
    padding: 3px;
    text-align: center;
    background-color: #ee4d2d;
    border-radius: 3px;

    span {
      color: white;
      font-size: 13px;
    }
  }

  .thumbnail-link {
    display: block;
    position: relative;
    width: 100%;
  }

  .avatar-courses {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: $border-radius-5;
  }

  .overlay {
    @extend .overlay-visible;
  }

  .thumbnail-link:hover .overlay {
    top: 0;
    height: 100%;
    overflow: visible;
  }

  .btn-action-views {
    @extend .btn-hover-visible;
  }

  .horizontal-info {
    margin-top: 6px;

    h6 {
      font-size: 15.5px;
      font-weight: 600;
      color: #493d3d;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      :hover {
        color: $text-primary;
      }
    }
  }

  .subcribe {
    color: $text-gray;
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      margin-right: 6px;
    }
  }
}