.wrapper__detail-course {
  .details {
    h5 {
      font-size: 23px;
      color: #291e77;
    }

    p {
      font-size: 16px;
      padding: 10px 0;
    }
  }

  .item-list {

    .ant-list-item-meta {
      align-items: center !important;
    }
  }

  .thumbnail {
    img {
      width: 100%;
      height: 70%;
      object-fit: cover;
      border-radius: $border-radius-5;
    }
  }

  .reviewer-course {
    position: relative;
  }

  .content {
    margin-top: 20px;
    margin-bottom: 20px;

    .ant-list-item-meta {
      align-items: center !important;
      padding-left: 10px;

      p {
        color: #5d5d5d;
      }
    }

    .ant-collapse-content-box,
    .ant-list-item {
      padding: 0 !important;
    }

    .button {
      background-color: #009DA6;
      color: $white-color;
      width: 50px;

      &:hover {
        color: $white-color
      }
    }

    .button-free {
      background-color: #f05123;
      color: $white-color;

      &:hover {
        color: $white-color
      }
    }

    .btn-views,
    .button-free {
      width: 160px !important;
    }
  }

  .list-description {
    h3 {
      color: #291e77 !important;
    }
  }
}

.review-first-video {
  width: 100% !important;
  height: 600px !important;
}

.video-player-modal {
  width: 100%;
  height: 100%;
}

.video-trial-content {

  h3 {
    text-transform: uppercase;
    font-size: 21px;
  }

  h4 {
    margin: 10px 0;
    font-size: 18px;
    text-transform: uppercase;
    color: #0d2969;
  }
}

.trial-study-content {
  margin: 10px 0;
  padding: 0 7px;
  border-radius: 5px;
  cursor: pointer;

  h6 {
    padding: 13px 0;
  }
}

.active-default-bk {
  background-color: #d7e3f5;
}