.wrapper__detail-course {
  .details {
    h5 {
      font-size: 25px;
    }

    p {
      font-size: 16px;
      padding: 10px 0;
    }
  }

  .item-list {

    .ant-list-item-meta {
      align-items: center !important;
    }
  }

  .thumbnail {
    img {
      width: 100%;
      object-fit: cover;
      border-radius: $border-radius-5;
    }
  }

  .reviewer-course {
    position: relative;
  }

  .content {
    margin-top: 20px;
    margin-bottom: 20px;

    .ant-list-item-meta {
      align-items: center !important;
      padding-left: 10px;

      p {
        color: #5d5d5d;
      }
    }

    .ant-collapse-content-box,
    .ant-list-item {
      padding: 0 !important;
    }

    .button {
      background-color: #009DA6;

      &:hover {
        color: $white-color
      }
    }

    .buttonFree {
      background-color: #ffa500;

      &:hover {
        color: $white-color
      }
    }
  }
}

.review-first-video {
  width: 100% !important;
  height: 600px !important;
}