.wrapper__drawer .ant-drawer-body {

  /* Customs scrollbar  */
  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(78, 74, 74);
  }

  .avatar {
    border: 1px solid #e6e6e6;
    border-radius: 50%;
  }

  .content {
    background-color: #f0f2f5;
    padding: 8px;
    border-radius: 15px;
    min-width: 360px;

    h5 {
      font-weight: 600 !important;
      padding-bottom:5px;
    }
  }

  .comment-list {
    margin-bottom: 15px;
  }

  .reply-comment {
    padding-left:30px;

    button {
      font-size: 13px;
      &:hover {
        background-color: transparent !important;
      }
    }
  }
}

.wrapper__input--comment {
  .comment-groups {
    height: 42px !important;
    border-radius: 20px 0 0 20px !important;
  }

  .btn-send-comment {
    height: 42px;
    border-radius: 0 20px 20px 0 !important;
  }
}

