.wrapper__lessons {

  .header {
    padding: 7px 50px;
    position: sticky;
    right: 0;
    left: 0;
    top: 0;
    z-index: 20;
    border-bottom: 1px solid $border-bottom-color;
    background-color: #b3b3b3;

    .btn-come-back {
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 0;

      svg,
      span {
        color: $black-color;
        font-weight: $font-weight-700;
      }
    }

    .progress-learn {
      span {
        font-weight: $font-weight-700;
      }
    }
  }

  .side-left-video {
    width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .video-scroll {
    background-color: $success-light-color;
  }

  .video-player {
    width: 85% !important;
    height: 670px !important;
    cursor: pointer;

    iframe {
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }

  .video-info-bio {
    padding: 18px 106px;

    h3 {
      font-size: 20px;
      font-weight: $font-weight-600;
      font-family: sans-serif;
      color: #464646
    }
  }

  .btn-action-comment {
    @extend .flex-box;
    background-color: #D9D9D9;
    font-weight: $font-weight-500;
  }

  .action-next {
    padding-top: 20px;

    button {
      @extend .flex-box;

      span {
        padding: 0 5px;
      }
    }
  }

  .side-right-box {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    margin-top: 55px;
    padding: 5px 5px;
    border-left: 1px solid #b2b2b2;
  }

  .carousel-theory {
    h4 {
      padding: 0 0 10px 0;
      font-size: 20px;
      text-transform: uppercase;
    }

    .slider-control-centerleft,
    .slider-control-centerright,
    .slider-control-bottomcenter {
      display: none;
    }
  }

  .content-box {
    background-color: #D9EEE1;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
  }

  .content-lesson {
    h4 {
      padding: 20px 0 10px 0;
      font-size: 20px;
      text-transform: uppercase;
    }
  }

  .topic-items {
    .ant-collapse-header {
      padding: 8px !important;
    }
  }

  .ant-collapse-content-box {
    padding: 0 !important;
  }

  .details-course {
    h6 {
      font-size: 16px;
      color: #170e58;
    }

    span {
      font-size: 12px;
      color: #120953;
    }
  }

  .topic-link {
    font-weight: $font-weight-500;
  }

  .items-list {
    margin-bottom: 8px;
    padding: 8px 8px 0 16px !important;
    cursor: pointer;

    &:hover {
      background-color: rgb(239, 237, 237);
    }
  }

  .active-info {
    background-color: #f8eae7;
    cursor: pointer;
  }

  .hide-lock {
    display: none;
  }

  .hours-group {
    margin-bottom: 5px;

    span,
    svg {
      font-size: 12px;
      color: #656565;
    }
  }
}