.wrapper__lessons {

  .header {
    padding: 10px 50px;
    position: sticky;
    right: 0;
    left: 0;
    top: 0;
    z-index: 20;
    border-bottom: 1px solid $border-bottom-color;
    background-color: #ededed;

    .btn-come-back {
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 0;

      svg,
      span {
        color: $black-color;
        font-weight: $font-weight-700;
      }
    }

    .progress-learn {
      span {
        font-weight: $font-weight-700;
      }
    }
  }

  .side-left-video {
    width: 100%;
    max-height: 100vh;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

  .quiz-content {
    width: 100%;
    max-height: 100%;
  }

  .quiz-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .box-large {
    background-color: white;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    width: 70%;
    padding: 20px;
    max-height: 100vh;
    overflow: auto;

    .content-quiz {
      margin-bottom: 10px;
    }

    .hight-light-error {
      color: red;
    }

    .answer-success {
      color: green;
    }

    .message-quiz {
      h5 {
        padding: 7px 0;
        color: red;
        font-size: 16px;
      }
    }

    .ant-card-body {
      display: flex;
      flex-direction: column;
    }

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    h4 {
      font-size: 25px;
      text-align: center;
      margin-bottom: 10px;
    }
  }

  .group-quiz {
    margin-top: 10px;
  }

  .card-list-quiz {
    margin-bottom: 10px;

    .ant-card-head-title {
      font-size: 17px !important;
    }
  }

  .video-scroll {
    background-color: $success-light-color;
  }

  .video-player {
    width: 90% !important;
    height: 600px !important;
    cursor: pointer;

    iframe {
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }

  .video-info-bio {
    padding: 18px 106px;

    h3 {
      font-size: 20px;
      font-weight: $font-weight-600;
      font-family: sans-serif;
      color: #464646
    }
  }

  .btn-action-comment {
    @extend .flex-box;
    background-color: #D9D9D9;
    font-weight: $font-weight-500;
  }

  .action-next {
    padding-top: 20px;

    button {
      @extend .flex-box;

      span {
        padding: 0 5px;
      }
    }
  }

  .side-right-box {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    width: 50%;
    margin-top: 55px;
    padding: 5px 5px;
    border-left: 1px solid #b2b2b2;
    height: 100%;
  }

  .carousel-theory {
    h4 {
      padding: 5px;
      font-size: 20px;
      text-transform: uppercase;
    }

    .slider-control-centerleft,
    .slider-control-centerright,
    .slider-control-bottomcenter {
      display: none;
    }
  }

  .content-box {
    background-color: #D9EEE1;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
  }

  .content-lesson {
    h4 {
      padding: 20px 0 10px 0;
      font-size: 20px;
      text-transform: uppercase;
    }
  }

  .list-items-module {
    max-height: 632px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

  .topic-items {
    .ant-collapse-header {
      padding: 8px !important;
    }
  }

  .ant-collapse-content-box {
    padding: 0 !important;
  }

  .details-course {
    h6 {
      font-size: 17px;
      color: #170e58;
      font-weight: 600;
      padding-bottom: 5px;
    }

    span {
      font-size: 12px;
      color: #120953;
    }
  }

  .topic-link {
    font-weight: $font-weight-500;
  }

  .items-list {
    margin-bottom: 8px;
    padding: 8px 8px 0 20px !important;

    &:hover {
      background-color: rgb(239, 237, 237);
    }
  }

  .active-info {
    background-color: #f8eae7;
    cursor: pointer;
  }

  .has-next {
    cursor: pointer;
  }

  .hide-lock,
  .checked-hand {
    display: none;
  }

  .hours-group {
    margin-bottom: 5px;

    span,
    svg {
      font-size: 12px;
      color: #656565;
    }
  }
}

.ant-message-custom-content,
.ant-message-success {
  span {
    svg {
      font-size: 40px;
    }
  }
}