.wrapper__video {

  .video-player {
    cursor: pointer;

    iframe {
      width: 100%;
      height: 170px;
      border-radius: 5px;
      cursor: pointer;
    }

    h6 {
      font-size: 15.5px;
      margin: 6px 0 5px 0;
      font-weight: 600;
      color: #493d3d;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &:hover {
        color: $text-primary;
      }
    }
  }

  .thumbnail-video {
    display: block;
    object-fit: cover;
    position: relative;
    width: 100%;
  }

  .overlay-vd {
    @extend .overlay-visible;
  }

  .thumbnail-video:hover .overlay-vd {
    top: 0;
    height: 100%;
    overflow: visible;
  }

  .btn-action-views {
    @extend .btn-hover-visible;
  }

  .video-status {
    color: $text-gray;
  }
}