.wrapper__homepage {

  .containers {
    @extend .container-content;
  }

  .video-title {
    h5 {
      font-size: 23px;
      padding-bottom: 8px;
    }
    
  }
.blogs-title{
  h5{
    font-size: 23px;
      padding-bottom: 8px;
      margin-top: 30px;
  }
}
}